.jumbotron 
  .display-4
    What do you want to learn today?

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    %p
      #{Course.count} online courses.
      %br>/
      Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
    %p
      #{Course.distinct.count(:user_id)} expert instructors.
      %br>/
      Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    %p
      #{User.count} active learners
      %br>/
      Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    %p 
      Lifetime access
      %br>/
      Learn on your schedule


%h2.mt-5 Resume learning
.card-columns 
  - @courses.each do |course|
    = link_to course_path(course), class: 'link-text-black' do
      = render 'courses/course', course: course

%h2.mt-5 Top rated courses
.card-columns 
  - @top_rated_courses.each do |course|
    = render 'courses/course', course: course

%h2.mt-5 Populaer courses
.card-columns 
  - @popular_courses.each do |course|
    = render 'courses/course', course: course