.card 
  .card-header
    %p
      Title：#{@lesson.title}
      %br
      Course：#{@lesson.course.title}
  .card-body
    %p 【Content】#{@lesson.content}
  .card-footer
    = link_to 'Edit', edit_course_lesson_path(@lesson), class: 'btn btn-outline-dark'
    = link_to 'Back', :back, class: 'btn btn-outline-dark m-2'
