%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item
      = link_to @course.title, course_path(@course)
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @lesson.title

.card 
  .card-header
    %p
      Title：#{@lesson.title}
      %br
      Course：#{@lesson.course.title}
  .card-body
    %p 【Content】#{@lesson.content}
  .card-footer
    = link_to 'Edit', edit_course_lesson_path(@course, @lesson), class: 'btn btn-outline-success'
    = link_to 'Back', course_path(@course), class: 'btn btn-outline-dark m-2'
