%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @course.title

.card
  .card-header
    %strong Title:
    = @course.title
  .card-body
    %blockquote.blockquote.mb-0
      %strong Description:
      = @course.description
      %small= @course.short_descriotion
  .card-footer 
    %span.badge.badge-pill.badge-info= @course.language
    %span.badge.badge-pill.badge-success= @course.level
    %p= number_to_currency(@course.price, unit: "￥", precision: 0)

- if current_user && current_user.has_role?(:admin) || current_user && current_user.has_role?(:teacher)
  = link_to 'Edit', edit_course_path(@course), class: 'btn btn-outline-success m-3'
= link_to 'Back', courses_path, class: 'btn btn-outline-dark m-3'

.row.mt-4
  .col-md-3
    %h2 #{@lessons.count} Lessons
  .col-md-9
    = link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-outline-dark'

= render 'lessons/lessons', lessons: @lessons, course: @course
