- content_for :title do
  web-stage
  \|
  = @course.title

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @course.title

= render 'courses/course', course: @course

- if admin_or_my_course?
  = link_to 'Edit', edit_course_path(@course), class: 'btn btn-outline-success m-3'
= link_to 'Back', :back, class: 'btn btn-outline-dark m-3'

.row.mt-4
  .col-md-3
    %h2 #{@lessons.count} Lessons
  .col-md-9
    - if my_course?
      = link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-outline-dark'

= render 'lessons/lessons', lessons: @lessons, course: @course

%h2.mt-5.mb-3 Students' Voices
.students-voices.mb-5
  - @voices.each do |voice|
    - if has_voice?(voice)
      %p
        %span.font-weight-bold= voice.user.username 
        %span.text-warning= star_rating(voice.rating)
      %p= voice.review
  %hr
