- content_for :title do
  web-stage
  \|
  Activities

%h3
  .text-center
    Activity
    .badge.badge-info
      = @activities.count

%table.table
  %thead
    %tr
      %th ID
      %th trackable_type
      %th Trackable_id
      %th Title
      %th key
      %th parameters
      %th owner_id
  %tbody
    - @activities.each do |activity|
      %tr
        %td
          = activity.id
        %td
          - if activity.trackable_type == 'Course'
            .badge.badge-pill.badge-primary= activity.trackable_type
          - else 
            .badge.badge-pill.badge-info= activity.trackable_type
        %td
          = activity.trackable_id
        %td
          = activity.trackable
          -# = link_to activity.trackable, activity.trackable
        %td
          = activity.key
        %td
          = activity.parameters
        %td
          = activity.owner_id
