%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    = link_to root_path, class: 'navbar-brand' do
      my-stage
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-between
      %ul.navbar-nav
        %li.nav-item
          = link_to courses_path, class: "nav-link #{ 'active font-weight-bold' if current_page?(courses_path) }" do
            Courses
        - if current_user && current_user.has_role?(:admin)
          %li.nav-item
            = link_to users_path, class: "nav-link #{ 'active font-weight-bold' if current_page?(users_path) }" do
              Users
          %li.nav-item
            = link_to activities_path, class: "nav-link #{ 'active font-weight-bold' if current_page?(activities_path) }" do
              Activity
      .login-btn
        - if user_signed_in?
          = link_to 'logout', destroy_user_session_path, data: { method: 'delete' }, class: 'btn btn-outline-light btn-sm mx-1'
        - else
          = link_to 'sign up', new_user_registration_path, class: 'btn btn-outline-light btn-sm mx-1'
          = link_to 'login', new_user_session_path, class: 'btn btn-outline-light btn-sm mx-1'