!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "with=device-with, initial-scale=1.0", :name => "viewport"}/
    %title
      = content_for?(:title) ? yield(:title) : "web-stage"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application'
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body

    = render 'layouts/header'

    .container.mt-5
      = render 'commons/messages'
      = yield
